<header class="main-header">
  
  <a href="index2.html" class="logo">
    <span class="logo-mini"><img src="/assets/img/logo_controla_pb.png"></span>
    <span class="logo-lg"><img src="/assets/img/logo_controla_pb.png"></span>
  </a>
  
  <nav class="navbar navbar-static-top">
    <!-- <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
      <span class="sr-only">Toggle navigation</span>
    </a> -->
    <a class=""></a>
    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">
        <li>
          <a href="#" data-toggle="control-sidebar"><i class="fa fa-sign-out"></i>Sair (adm)</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
<nav class="navbar navbar-default navbar-cda">
  <ul class="">
    <li>
      <a href="/cda/">Controle agência</a>
    </li>
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">Provisões &amp; Movimentos<span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="/cda/coaf/novo">
          <span class="fa fa-plus"></span>Cadastrar provisão</a>
        </li>
        <li>
          <a href="/cda/coaf/sim/novo">
            <span class="fa fa-plus"></span>Informar Movimento "SIM"
          </a>
        </li>
        <li>
          <a href="/cda/coaf/">
            Provisões &amp; Movimentos
          </a>
        </li>
      </ul>
    </li>
    <li class="">
      <a href="/recred/">Recred</a>
    </li>
    <li class="active">
      <a href="/gac/">Gestão de créditos</a>
    </li>
  </ul>
</nav>