<aside class="main-sidebar" *ngIf="admin">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu" data-widget="tree">
      <li class="header">NAVEGAÇÃO</li>
      <li class="active treeview menu-open">
        <a href="#">
          <i class="fa fa-home"></i> <span>Dashboard</span>
        </a>
      </li>
      <li class="treeview">
        <a href="#">
          <i class="fa fa-tasks"></i>
          <span>DRE - Cobrança</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li><a href="pages/charts/chartjs.html"><i class="fa fa-circle-o"></i> Conciliação</a></li>
          <li><a href="pages/charts/morris.html"><i class="fa fa-circle-o"></i> Processamento</a></li>
          <li><a href="pages/charts/flot.html"><i class="fa fa-circle-o"></i> Tarifas / Parâmetros</a></li>
        </ul>
        <a href="#">
          <i class="fa fa-tasks"></i>
          <span>DRE - Consórcio</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li><a href="pages/charts/chartjs.html"><i class="fa fa-circle-o"></i> Conciliação</a></li>
          <li><a href="pages/charts/morris.html"><i class="fa fa-circle-o"></i> Proc Base</a></li>
          <li><a href="pages/charts/flot.html"><i class="fa fa-circle-o"></i> Proc Comissão</a></li>
        </ul>
        <a href="#">
          <i class="fa fa-exchange"></i>
          <span>MECIR</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li><a href="pages/charts/chartjs.html"><i class="fa fa-circle-o"></i> Movimentos</a></li>
          <li><a href="pages/charts/morris.html"><i class="fa fa-circle-o"></i> Moedas</a></li>
          <li><a href="pages/charts/flot.html"><i class="fa fa-circle-o"></i> Transportadoras</a></li>
        </ul>
        <a href="#">
          <i class="fa fa-lock"></i>
          <span>Gestão</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li><a href="pages/charts/chartjs.html"><i class="fa fa-circle-o"></i> Cooperativas</a></li>
          <li><a href="pages/charts/morris.html"><i class="fa fa-circle-o"></i> Postos</a></li>
          <li><a href="pages/charts/flot.html"><i class="fa fa-circle-o"></i> Usuários</a></li>
        </ul>
      </li>
    </ul>
  </section>
  <!-- /.sidebar -->
</aside>