$background: #004b35;

body{
    font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
}

.skin-green-light .main-header{
    .navbar{
        background-color: $background;
    }
    .logo {
        background-color: $background;
    }
}